---
layout: default
title: Jenkins 艺术作品
---

/ Please add new logo meta-data to content/images/logos and content/_data/logo

.container
  .row
    &nbsp;
  .row
    .col-12
      %h1.text-center
        艺术作品

      %p
        原始的 Jenkins logo 是由社区朋友们在 
        %a{:href => 'http://frontside.io/'}
          Frontside
        创建的。
        尤其感谢
        %a{:href => 'https://github.com/cowboyd'}
          Charles Lowell
        提出的原始设计主意。 原始 logo 的使用参考可以在
        %a{:href => '/press'}
          新闻
        页找到。本页面只是展示了一些由 Jenkins 社区成员创造的有明显差异的 logo。

      %p
        本页也提供一些不同尺寸的 SVG 或 zip 格式的图标文件。使用的许可证为
        %a{:href => 'https://creativecommons.org/licenses/by-sa/3.0/'}
          Creative Commons Attribution-ShareAlike 3.0 Unported License。
        在此许可证下, 如果你要使用这些作品或其衍生物，你必须提供其归属于 Jenkins(https://jenkins.io/) 的链接声明。

%hr/

.container
  .row
    - site.logo.sort.to_h.each_pair do |key, logo|
      .col-4
        .text-center
          %h3
            = logo['name']
          %a{:href => logo['url'], :target => '_blank'}
            %img{:src => logo['url_256'], :alt => logo['name']}
          %p
            -if logo['credit']
              由
              - if logo['credit_url']
                %a{:href => logo['credit_url']}
                  = logo['credit']
              - else
                = logo['credit']
              创建
            - if logo['source']
              %br/
              %a{:href => logo['source_url'], :target => '_blank'}
                = logo['source']
            - if logo['vector']
              %br/
              %small
                %a{:href => logo['vector']}
                  SVG 格式

%hr/

.container
  .row
    .col-md-12
      %h3
        添加作品
      %p
        想要添加新的 logo，请创建一个 pull request，在
        %code
          content/_data/logo
        目录添加一个
        %code
          \.yml
        文件。另外把这图标件放到
        %code
          content/images/logos/<logoname>
        目录下。

