---
layout: default
title: Jenkins 的安装和设置
---

:ruby
  def third_party_href(url)
    third_party = {'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'This is a package supported by a third party which may be not as frequently updated as packages supported by the Jenkins project directly'}
    return third_party.merge({:href => url})
  end


= partial('downloadbanner.html.haml')

.container
  .row.body
    .col-md-1
    .col-md-10
      %h2
        开始使用 Jenkins

      .container
        .row
          %p
            Jenkins 项目产生两个发行线, 长期支持版本 (LTS) 和每周更新版本。
            根据你的组织需求, 一个可能比另一个更受欢迎。
          %p
            两个版本都以
            %code
              \.war
            文件, 原生包, 安装程序, 和 Docker 容器的形式分发。带有
            %span.icon-gear-menu-o
            齿轮的包由第三方维护。
        .row
          .col-md-6
            %h4
              长期支持版本 (LTS)
            %p
              LTS (长期支持) 版本每12周从常规版本流中选择，作为该时间段的稳定版本。

              %a{'href' => 'lts'}
                了解更多…

              %p.details
                %a.item{:href=>'/zh/changelog-stable'}
                  变更日志
                |
                %a.item{:href=>'/zh/doc/upgrade-guide'}
                  升级指南
                |
                %a.item{:href=>'http://mirrors.jenkins.io/war-stable/'}
                  以前的发行版

          .col-md-6
            %h4
              每周更新版
            %p
              每周都会发布一个新版本，为用户和插件开发人员提供错误修复和功能。

            %p.details
              %a.item{:href=>'/zh/changelog'}
                变更日志
              |
              %a.item{:href=>'http://mirrors.jenkins.io/war/'}
                以前的发行版
        .row
          .col-md-6
            %strong
              %i.icon-box-add
              部署 Jenkins
              = site.jenkins.stable

              .container
                .row
                  .m-3
                    %a{:href => 'https://aka.ms/jenkins-on-azure'}
                      - # 如果有问题出现请联系 azdevopspub@microsoft.com
                      %img{:src => '/images/azure-deploy-button.png'}/

            .list-group
            %strong
              %i.icon-box-add
              下载 Jenkins
              = site.jenkins.stable
              for:

            .list-group
              %a.list-group-item.list-group-item-action{:href=>'https://hub.docker.com/r/jenkins/jenkins'}
                %span.icon
                %span.title
                  Docker
              %a.list-group-item.list-group-item-action{:href => 'http://www.freshports.org/devel/jenkins-lts'}
                %span.icon
                %span.title
                  FreeBSD
              %a.list-group-item.list-group-item-action{third_party_href('https://packages.gentoo.org/packages/dev-util/jenkins-bin')}
                %span.title
                  Gentoo
                %span
                  &nbsp;
                %span.icon-gear-menu-o/
              %a.list-group-item.list-group-item-action{:href=>'/zh/download/thank-you-downloading-osx-installer-stable'}
                %span.icon
                %span.title
                  Mac OS X
              %a.list-group-item.list-group-item-action{third_party_href('http://openports.se/devel/jenkins/stable')}
                %span.title
                  OpenBSD
                %span
                  &nbsp;
                %span.icon-gear-menu-o/
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/opensuse-stable/'}
                %span.icon
                %span.title
                  openSUSE
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/redhat-stable/'}
                %span.icon
                %span.title
                  Red Hat/Fedora/CentOS
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/debian-stable/'}
                %span.icon
                %span.title
                  Ubuntu/Debian
              %a.list-group-item.list-group-item-action{:href=>'/zh/download/thank-you-downloading-windows-installer-stable'}
                %span.icon
                %span.title
                  Windows
              %a.list-group-item.list-group-item-action{:href=>'http://mirrors.jenkins.io/war-stable/latest/jenkins.war'}
                %span.title
                Generic Java package (.war)

          .col-md-6
            %strong
              %i.icon-box-add
              下载 Jenkins
              = site.jenkins.latest
              for:

            .list-group
              %a.list-group-item.list-group-item-action{third_party_href('https://www.archlinux.org/packages/community/any/jenkins/')}
                %span.title
                  Arch Linux
                %span
                  &nbsp;
                %span.icon-gear-menu-o/
              %a.list-group-item.list-group-item-action{:href=>'https://hub.docker.com/r/jenkins/jenkins/'}
                %span.icon
                %span.title
                  Docker
              %a.list-group-item.list-group-item-action{third_party_href('http://www.freshports.org/devel/jenkins')}
                %span.title
                  FreeBSD
                %span
                  &nbsp;
                %span.icon-gear-menu-o/
              %a.list-group-item.list-group-item-action{third_party_href('https://packages.gentoo.org/packages/dev-util/jenkins-bin')}
                %span.title
                  Gentoo
                %span
                  &nbsp;
                %span.icon-gear-menu-o/
              %a.list-group-item.list-group-item-action{:href=>'/zh/download/thank-you-downloading-osx-installer'}
                %span.icon
                %span.title
                  Mac OS X
              %a.list-group-item.list-group-item-action{third_party_href('http://openports.se/devel/jenkins/devel')}
                %span.title
                  OpenBSD
                %span
                  &nbsp;
                %span.icon-gear-menu-o/
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/opensuse/'}
                %span.icon
                %span.title
                  openSUSE
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/redhat/'}
                %span.icon
                %span.title
                  Red Hat/Fedora/CentOS
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/debian/'}
                %span.icon
                %span.title
                  Ubuntu/Debian
              %a.list-group-item.list-group-item-action{third_party_href('http://pkg.openindiana.org/hipster/en/search.shtml?token=jenkins')}
                %span.title
                  OpenIndiana Hipster
                %span
                  &nbsp;
                %span.icon-gear-menu-o/
              %a.list-group-item.list-group-item-action{:href=>'/zh/download/thank-you-downloading-windows-installer'}
                %span.icon
                %span.title
                  Windows
              %a.list-group-item.list-group-item-action{:href=>'http://mirrors.jenkins.io/war/latest/jenkins.war'}
                %span.title
                Generic Java package (.war)


        %hr/

        .row
          .col-md-12
            %p
              下载软件包后, 请前往用户手册的
              %strong
                %a{:href => '/zh/doc/book/getting-started/installing/'}
                  安装 Jenkins
              部分。
