---
layout: simplepage
title: 参与和贡献
section: participate
---

%p
  参与 Jenkins 项目和社区有很多种方式，以下列举了常见的几种，欢迎加入！


.container
  .row
    .col-lg-6
      %h2
        参与

      %p
        参与者在社区中扮演一个非常活跃的角色。

      %h3
        结识
      %p
        结识其他 Jenkins 用户并分享你的经验。
      %ul
        %li
          组织或参与
          %a{:href => '/projects/jam/'}
            Jenkins Area Meetups。
        %li
          参加其他 Jenkin 活动，比如 SCALE 或 FOSDEM。

      %h3
        互助
      %p
        作为一个有经验的用户，你可以帮助更多人从 Jenkins 受益。
      %ul
        %li
          %a{:href => '/mailing-lists'}
            jenkinsci-users mailing list
        %li
          %a{:href => '/chat'}
            \#jenkins IRC channel on Freenode
        %li
          %a{:href => 'https://reddit.com/r/jenkinsci'}
            \/r/jenkins on Reddit
        %li
          %a{:href => 'http://stackoverflow.com/tags/jenkins'}
            Jenkins on Stack Overflow

      %h3
        探讨
      %ul
        %li
          %a{:href => '/mailing-lists'}
            邮件列表
        %li
          %a{:href => '/chat'}
            IRC 频道

      %h3
        审核变更
      %p
        帮助审核代码或审阅文档的变更。
      %ul
        %li
          %a{:href => 'https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+team%3Ajenkinsci%2Fcode-reviewers'}
            请求
            %strong
              代码审核
            的开放 Pull Request 列表
        %li
          %a{:href => 'https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+team%3Ajenkins-infra%2Fcopy-editors'}
            请求
            %strong
              审阅文档
            的开放 Pull Request 列表

      %h3
        给予反馈
      %p
        我们无法修复未知的问题，所以如果有任何问题敬请反馈！
      %ul
        %li
          %a{:href => 'https://wiki.jenkins.io/display/JENKINS/How+to+report+an+issue'}
            如何提交问题给Jenkins
        %li
          %a{:href => '/changelog'}
            变更日志
          已经集成了反馈机制，只需选择
          %em
            社区等级
          并通过天气图标投票即可。
        %li
          同样地，
          %a{:href => '/changelog-stable'}
            LTS 变更日志
          也提供相同的功能。

    .col-lg-6
      %h2
        贡献

      %p
        作为一名贡献者，可以积极地帮助改进 Jenkins 及其插件，包括贡献代码、文档、翻译或测试。

      %h3
        编写代码
      %p
        你享受编程吗？这里有许多的插件和组件等你来贡献代码。
        %a{:href => 'code'}
          了解更多。
      %p
        你已经是一名 Jenkins 贡献者正在寻找新的挑战？
        Jenkins 安全小组正在寻找有志于帮助提升 Jenkins 安全性的成员。
        %a{:href => expand_link('security#team')}
          了解更多。

      %h3
        翻译
      %p
        Jenkins 正被全世界讲很多不同语言的人广泛使用。如果你流利地掌握英语之外的其他语言，可以考虑通过
        %a{:href => 'https://wiki.jenkins.io/display/JENKINS/Internationalization'}
          core 或插件的本地化来帮助提升对该语言的支持。

      %h3
        文档
      %p
        改善 Jenkins 及其插件的文档，方便其他人更易上手。

      %ul
        %li
          我们通过
          %a{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-docs'}
            jenkinsci-docs
          邮件列表和
          %a{:href => '/chat/'}
            \#jenkins-community IRC 频道来协作和讨论文档相关工作。
        %li
          %a{:href => 'https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#adding-documentation'}
            了解如何共享文档到 jenkins.io

      %h3
        测试
      %p
        Jenkins 项目重度依赖于自动化测试来保证功能稳定性和一致性。通过贡献适配自身用例的自动化测试，有助于防止有影响的回归。
      %ul
        %li
          %a{:href => 'https://github.com/jenkinsci/acceptance-test-harness'}
            Acceptance Test Harness (ATH) on GitHub
        %li
          %a{:href => 'https://github.com/jenkinsci/jenkins-test-harness'}
            Jenkins Unit Test Harness on GitHub
