---
layout: simplepage
title: Participate and contribute
section: participate
---

%p
  有很多方法可以与Jenkins项目和社区互动。
  以下是帮助您入门的最常用方法。
  欢迎登机！


.container
  .row
    .col-lg-6
      %h2
        参与其中

      %p
        作为参与者，您将在社区中发挥积极作用。

      %h3
        结交他人
      %p
        认识其他 Jenkins 用户并分享您的经验。
      %ul
        %li
          组织或参加
          %a{:href => '/projects/jam/'}
            Jenkins 地区聚会。
        %li
          参加 Jenkins 的其他活动，如 SCALE 或 FOSDEM 。

      %h3
        帮助他人
      %p
        作为经验丰富的用户，您可以帮助其他人充分使用 Jenkins 。
      %ul
        %li
          %a{:href => '/mailing-lists'}
            jenkinsci-users 邮件列表
        %li
          %a{:href => '/chat'}
            \#Freenode 上的 jenkins IRC 频道
        %li
          %a{:href => 'https://reddit.com/r/jenkinsci'}
            \/r/Reddit 上的 jenkins
        %li
          %a{:href => 'http://stackoverflow.com/tags/jenkins'}
            Stack Overflow 上的 jenkins

      %h3
        讨论
      %ul
        %li
          %a{:href => '/mailing-lists'}
            邮件列表
        %li
          %a{:href => '/chat'}
            IRC 频道

      %h3
        评阅变更
      %p
        帮助查看代码或文档的更改。
      %ul
        %li
          %a{:href => 'https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+team%3Ajenkinsci%2Fcode-reviewers'}
            已请求
            %strong
              代码审查
            的公开拉取请求列表
        %li
          %a{:href => 'https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+team%3Ajenkins-infra%2Fcopy-editors'}
            已请求
            %strong
              副本编辑
            的处于打开状态的请求列表

      %h3
        提供反馈信息
      %p
        我们无法解决我们不知道的事情。 所以，让我们知道它！
      %ul
        %li
          %a{:href => 'https://wiki.jenkins.io/display/JENKINS/How+to+report+an+issue'}
            如何在Jenkins中报告问题
        %li
          %a{:href => '/changelog'}
            修改日志
          具有集成的反馈机制. 只需选择
          %em
            社区评分
          并使用天气图标进行投票。
        %li
          同样
          %a{:href => '/changelog-stable'}
            LTS 修改日志
          提供相同的功能。

    .col-lg-6
      %h2
        贡献

      %p
        作为贡献者，您通过贡献代码，文档，翻译或测试来积极帮助改进Jenkins和插件。

      %h3
        写代码
      %p
        你喜欢写代码吗？ 有许多插件和组件供您参与。
        %a{:href => 'code'}
          了解更多。
      %p
        你是 jenkins 的既定撰稿人并寻找新的挑战吗？
        Jenkins 安全团队正在寻找愿意帮助改善Jenkins安全性的成员。
        %a{:href => expand_link('security#team')}
          了解更多

      %h3
        翻译
      %p
        Jenkins 被世界各地的几十种不同语言的人使用。如果您熟悉英语以外的语言，请考虑改进对这些语言的支持
        %a{:href => 'https://wiki.jenkins.io/display/JENKINS/Internationalization'}
          通过贡献核心或插件本地化。

      %h3
        文档
      %p
        改进Jenkins和插件的文档，使其他人更容易入门。

      %ul
        %li
          我们使用
          %a{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-docs'}
            jenkinsci-docs
          邮件列表和
          %a{:href => '/chat/'}
            \#jenkins-community IRC 频道协调和讨论记录工作。
        %li
          %a{:href => 'https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#adding-documentation'}
            了解如何向jenkins.io提供文档

      %h3
        测试
      %p
        Jenkins项目在很大程度上依赖于自动化测试来确保功能的稳定性和一致性。 通过提供与您的用例匹配的自动化测试，您可以帮助防止可能影响您的回归。
      %ul
        %li
          %a{:href => 'https://github.com/jenkinsci/acceptance-test-harness'}
            GitHub上的验收测试工具（ATH）
        %li
          %a{:href => 'https://github.com/jenkinsci/jenkins-test-harness'}
            GitHub 上的 jenkins 单元测试工具
