---
title: "Jenkins 开发者参考"
layout: developerguide
---

%ol
  - site.devbook.chapters.each do |chapter|
    %li{:style => 'font-size: 24px;'}
      %a{:href => expand_link(chapter.page.url)}
        = chapter.title
      - if chapter.page.wip
        - if !chapter.page.references || chapter.page.references.length == 0
          %i.icon-warning{:title => '早期工作，还在进行中'}
            &nbsp;
        - else
          %i.icon-warning{:title => '部分工作还在进行中', :style => 'opacity: 0.5;'}
            &nbsp;
      - if chapter.page.summary
        %p{:style => 'font-size: 14px;'}
          = chapter.page.summary
      %ol
        - chapter.sections.each do | section |
          %li{:style => 'font-size: 18px;'}
            %a{:href => expand_link(section.page.url)}

              = section.title

            - if section.page.wip
              - if !section.page.references || section.page.references.length == 0
                %i.icon-warning{:title => '进行中'}
                  &nbsp;
              - else
                %i.icon-warning{:title => '部分工作还在进行中', :style => 'opacity: 0.5;'}
                  &nbsp;
  %li{:style => 'font-size: 24px;'}
    %a{:href => 'guides'}
      附录 C: 所有操作指南的索引
