---
title: "扩展 Jenkins"
layout: developer
noanchors: true
---

%p
  Jenkins是一个可扩展的自动化服务器，拥有超过1000个插件，可提供数百种工具和服务的集成。以下的内容将介绍如何
  %em 扩展
  Jenkins的功能和开发一个Jenkins插件.

%p
  如果你只想
  %em 使用
  Jenkins现有的功能和插件, 那你只需要查看
  %a{:href => "doc"} Jenkins用户手册。

.row
  .col-xl-6
    %h2
      %a{:href => "tutorial"}
        教程
    %p
      通过编写一个简单的插件开始 Jenkins 开发。

  .col-xl-6
    %h2
      %a{:href => "guides"}
        使用指南
    %p
      这些指南解释了如何解决特定的问题。

  .col-xl-6
    %h2
      %a{:href => "book"}
        参考文档
    %p
      介绍 Jenkins 的各种特性和知识。

  .col-xl-6
    %h2
      %a{:href => "extensions"}
        扩展点列表
    %p
      插件开发中能用到的扩展点列表。
