---
layout: default
title: Blue Ocean 路线图
css:
  - '/assets/bower/bootstrap/css/bootstrap.min.css'
  - '/css/blueocean-animate.css'
  - '/css/blueocean-roadmap-style.css'
---
%header#header.header
  .skew
    .container.wow.fadeIn{"data-wow-delay" => "0.5s"}
      .row
        .header-inner.col-lg-12
          .logo
            = partial('logo.html.haml')
          %h1.intro-title
            %span> Jenkins Blue Ocean
            路线图
%section.roadmap.wow.fadeInUp{"data-wow-delay" => "0.7s"}
  .container
    .row
      .col-xs-12.col-sm-12.col-lg-12.col-xl-10.push-xl-1
        %table.table.roadmap-table
          %thead
            %tr
              %th 特性
              %th 未排期
              %th 已排期
              %th 开发中
              %th 就绪
              %th 发布
          %tbody

%script{:src => "#{site.base_url}/assets/bower/jquery/jquery.min.js"}
%script{:src => expand_link('js/blueocean-roadmap-script.js'), :type => "text/javascript"}
%script{:src => expand_link('js/wow.js'), :type => "text/javascript"}
:javascript
  new WOW().init();
%script{:charset => "utf-8", :src => expand_link('js/blueocean-landing-script.js')}
